[Desktop Entry]
Type=Application
Name=App Hub
Comment=Download manager and AppImage launcher
Exec=org.evans.AppHub
Icon=org.evans.AppHub
Terminal=false
Categories=Utility;Network;System;
StartupNotify=true
StartupWMClass=AppHub
